<?xml version="1.0"?>
<model>
  <name>ArUco Marker 00</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Pi Thanacha Choopojcharoen</name>
    <email>thanachac@coxsysrobotics.com</email>
  </author>

  <description>
    ArUco Marker with Marker ID : 00
  </description>
</model>