<launch>
  <arg name="with_virtual_walls" default="false" />
  <arg name="prefix" default="" />
  <arg name="namespace" default="$(arg prefix)" doc="Namespace to push all topics into."/>

  <!-- Map File -->
  <arg name="map_file" default="$(find xxx_mapping)/maps/map.yaml" />
  <arg name="map_nav_file" default="$(find xxx_mapping)/maps/map.yaml" />
  
  <!-- Map Server -->
  <!-- Publish: /map, /map_metadata -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />

  <node pkg="map_server" name="map_nav_server" type="map_server" args="$(arg map_nav_file)">
    <param name="frame_id" value="map"/>
    <remap from="map" to="/map_nav" />
    <remap from="static_map" to="static_map_nav" />
  </node>

  <!-- AMCL -->
  <include file="$(find xxx_navigation)/launch/amcl.launch"/>
  <!-- <include file="$(find particle_filter)/launch/localize.launch"/> -->

  <!--ekf for global localization-->
  <!-- <node pkg="robot_localization" type="ekf_localization_node" name="ekf_for_global" clear_params="true">
        <remap from="/odometry/filtered" to="global_odometry" />
        <remap from="/set_pose" to="/set_global_pose" /> 
        <rosparam command="load" file="$(find carver_navigation)/params/ekf_map_template.yaml" />
  </node> -->

  <include file="$(find xxx_navigation)/launch/move_base.xml">
      <arg name="with_virtual_walls" value="$(arg with_virtual_walls)" />
      <arg name="prefix" value="$(arg prefix)" />
  </include>

</launch>
